[user]
    email = luc.h.forbes@protonmail.com
    name = Luc Forbes

[pull]
    rebase = false

[alias]
    view = log --all --decorate --oneline --graph

[init]
    defaultBranch = master

# https://jessehouwing.net/tips-tricks-git-under-wsl-and-windows/
# Settings that are true for all repos on the WSL volumen go here:
[core]
	autocrlf = false
